<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetworkMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <userSettings>
    <NetworkMonitor.Properties.Settings>
      <setting name="myTagName" serializeAs="String">
        <value/>
      </setting>
      <setting name="mySwitch" serializeAs="String">
        <value/>
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="snmpBulkWalk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pingTimeout" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="snmpTimeOut" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SnmpCommunity" serializeAs="String">
        <value>public</value>
        <!--value>ADBSG-User</value-->
	  </setting>
		<setting name="SNMPv3" serializeAs="String">
			<value>False</value>
		</setting>
		<setting name="UpdateDisabledTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PortNrSnmpTraps" serializeAs="String">
        <value>162</value>
      </setting>
      <setting name="OPCserverUrl" serializeAs="String">
        <value></value>
        <!--value>opcda://ANY-PC/OPCServer.WinCC{75d00bbb-0000}</value-->
      </setting>
      <setting name="snmpTraps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunStandAlone" serializeAs="String">
        <value>True</value>
      </setting>
    </NetworkMonitor.Properties.Settings>
  </userSettings>

  <!-- debugging log files-->
  <appSettings>
    <add key="log4net.Internal.Debug" value="false"/>
  </appSettings>

  <!--system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="${USERPROFILE}\Documents\log\system.diagnostics.log" />
      </listeners>
    </trace>
  </system.diagnostics-->
 
  
</configuration>
